@media (max-width: 767px) {
  #nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-link {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px;
    color: white;
    padding: 0 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  #nav-menu a:hover {
    background-color: #333;
    color: rgb(221, 30, 30);
}

  
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 50px;
  }
  
  .home-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }
  
  #user-detail-name {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  #user-detail-intro {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  #resume-button-1,
  #resume-button-2,
  #resume-link-1,
  #resume-link-2 {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
  }
  
  .about.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 50px;
  }
  
  #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 50px;
  }
  
  .skills-card {
    /* width: 300px; */
    height:200px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
  }
  
  /* .skills-card-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  } */

  .skills-card-img{
    width: 7rem;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  /* .skills-card-name {
    font-size: 24px;
    margin-bottom: 50px;
  } */
  
  #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .skills-card {
    width: 150px;
    height: 150px;
    margin: 20px;
    text-align: center;
  }
  
  .skills-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  









  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 50px;
  }
  
  .project-card {
    width: 300px;
    height: 300px;
    margin: 50px;
    display: flex;
  }
  